<!-- tasks_list.html -->

{% extends 'tasks/base.html' %}

{% block title %}Tasks list{% endblock %}

{% block content %}
<div class = "row">
    <ul class="list-group">
       {% for task in tasks %}
          <li class="list-group-item">
              <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="{% url 'tasks:task_detail' task.id %}">{{task.name}},</a> {{task.location.name}}
          </li>
       {% endfor %}
    </ul>

    {{background}}

</div>
{% endblock %}

<!-- List of tasks -->